<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>
      {% block title %} {% endblock %}
    </title>
    <link rel="icon" href="{% static 'icons/crios_logo.png' %}" type="image/x-icon">
    <!-- Styles CSS -->
    <link href="{% static 'base/general.css' %}" rel="stylesheet">
    <link href="{% static 'DataTables-1.13.6/css/dataTables.bootstrap5.css' %}" rel="stylesheet">
    {% block head %} {% endblock %}
    <!-- GoogleFonts - Rubik -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <!-- FontAwesome - Iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
  </head>
  <body class="d-flex flex-column min-vh-100">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'icons/crios_logo.png'%}" alt="Logo" width="55" height="48" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Botones encabezado-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link nav-titulo" href="{% url 'home' %}"><i class="fa-solid fa-house"></i> Pagina Principal</a>
            </li>
            <!-- Dropdown de EXAMENES -->
            <li class="nav-item dropdown">
              <a class="nav-link nav-titulo" href="" id="examenesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-file-lines"></i> Examenes
              </a>
              <ul class="dropdown-menu" aria-labelledby="examenesDropdown">
                <li><a class="dropdown-item" href="{% url 'build' %}">Gestión de Mesas de Examen</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'build' %}">Solicitudes a Mesas de Examen</a></li>
              </ul>
            </li>
            <!-- Dropdown de ESTADOS CURRICULARES -->
            <li class="nav-item dropdown">
              <a class="nav-link nav-titulo" href="" id="estadosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-chart-bar"></i> Estados Curriculares
              </a>
              <ul class="dropdown-menu" aria-labelledby="estadosDropdown">
                <li><a class="dropdown-item" href="{% url 'plan_estudio' %}">Gestión de Planes de estudio</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'estados' %}">Gestión de Estados Curriculares</a></li>
              </ul>
            </li>
            <!-- Dropdown de INSCRIPCIONES -->
            <li class="nav-item dropdown">
              <a class="nav-link nav-titulo" href="" id="inscripcionesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-address-card"></i> Inscripciones
              </a>
              <ul class="dropdown-menu" aria-labelledby="inscripcionesDropdown">
                <li><a class="dropdown-item" href="{% url 'lista_solicitudes' %}">Solicitudes de Preinscripción</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'consultas' %}">Consultas de Datos de Estudiantes</a></li>
              </ul>
            </li>
          </ul>
          <!-- Menú desplegable para perfil del usuario -->
          <ul class="navbar-nav mb-2 mb-lg-0"> 
            <li class="nav-item dropdown">
                <a class="nav-link nav-titulo" href="#" id="perfilDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user"></i> Perfil
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="perfilDropdown">
                    <li>
                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#perfilModal"><i class="fa-solid fa-gear"></i> Preferencias</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <form method="POST" action="{% url 'logout' %}" style="display: inline;">
                          {% csrf_token %}
                          <button type="submit" class="dropdown-item">
                              <i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión
                          </button>
                      </form> 
                    </li>
                </ul>
            </li>
          </ul>  
        </div>
      </div>
    </nav>
    <!-- Contenido -->
    <div class="container flex-grow-1 mt-5">
      <!-- Mostrar mensajes -->
      {% if messages %}
      <div class="container mt-0">
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
          </div>
          {% endfor %}
      </div>
      {% endif %}
      {% block content %}
      {% endblock content %}
    </div>
    <!-- Footer -->
    <footer>
      <p class="footer-text">Profesorado CRIOS - Dirección: Tucumán 667, Salta, Argentina | 
        Teléfono: 423-3761
        <br>
        Redes:  
        <a href="https://www.facebook.com/criosprofesorado/?locale=es_LA" target="_blank">
          <img src="{% static 'icons/fb_icon.png'%}" alt="Facebook" width="1.80%" height="auto">
        </a>
        <a href="https://www.instagram.com/criosprofesorado/?hl=es" target="_blank">
          <img src="{% static 'icons/insta_icon.png'%}" alt="Instagram" width="1.80%" height="auto">
        </a> |
        Portal educativo: 
        <a href="https://crios-sal.infd.edu.ar/sitio/" target="_blank">
          <img src="{% static 'icons/escudoargentino_icon.png'%}" alt="Portal" width="1.80%" height="auto">
        </a>
      </p>
    </footer>

    <!-- Modal de Perfil -->
    <div class="modal fade" id="perfilModal" tabindex="-1" aria-labelledby="perfilModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="perfilModalLabel">Perfil</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <video width="120" height="120" autoplay loop muted>
                      <source src="{% static 'images/Profile.mp4' %}" type="video/mp4">
                  </video>
                  <h5>Hola, {{ user.username }}</h5>
                  <p><strong>Nombre de Usuario:</strong> {{ user.username }}</p>
                  <p><strong>Correo Electrónico:</strong> {{ user.email }}</p>
                  <a href="#" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#currentPasswordModal">Cambiar contraseña</a>
              </div>
          </div>
      </div>
    </div>

    <!-- Modal para ingresar la contraseña actual -->
    <div class="modal fade" id="currentPasswordModal" tabindex="-1" aria-labelledby="currentPasswordModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="currentPasswordModalLabel">Verificar Contraseña</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="POST" action="{% url 'validate_password' %}">
            {% csrf_token %}
            <div class="modal-body">
              <p>Por favor, ingresa tu contraseña actual para continuar:</p><br>
              <div class="mb-3">
                <label for="currentPassword" class="form-label">Contraseña Actual</label>
                <input type="password" class="form-control" id="currentPassword" name="current_password" required>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Validar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    

    <script src="{% static 'jQuery-3.7.0/jquery-3.7.0.js' %}"></script>  
    <script src="{% static 'DataTables-1.13.6/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'DataTables-1.13.6/js/dataTables.bootstrap5.js' %}"></script> 
    <script src="{% static 'bootbox/bootbox.all.min.js' %}"></script>
    
    <script>
      setTimeout(function() {
          const alerts = document.querySelectorAll('.alert');
          alerts.forEach(alert => {
              alert.classList.remove('show');
              alert.classList.add('fade');
              setTimeout(() => alert.remove(), 200); // Retirar del DOM
          });
      }, 2000);
    </script>
    <script>
      // Prevenir el desplazamiento no deseado al abrir modales
      document.addEventListener('show.bs.modal', function () {
        document.body.style.paddingRight = '0px';
      });
    
      document.addEventListener('hidden.bs.modal', function () {
        document.body.style.paddingRight = '';
      });
    </script>
    {% block javascript %}
    {% endblock javascript %}
  </body>
</html>
