<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>
      {% block title %} {% endblock %}
    </title>
    <link rel="icon" href="{% static 'icons/crios_logo.png' %}" type="image/x-icon">
    <link href="{% static 'estilos/base/general.css' %}" rel="stylesheet">
    <link href="{% static 'DataTables-1.13.6/css/dataTables.bootstrap5.css' %}" rel="stylesheet">
    {% block head %} {% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
  </head>

  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'icons/crios_logo.png'%}" alt="Logo" width="55" height="48" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link nav-titulo" href="{% url 'home' %}"><i class="fa-solid fa-house"></i> Pagina Principal</a>
            </li>
            <!-- Dropdown de EXAMENES -->
            <li class="nav-item dropdown">
              <a class="nav-link nav-titulo" href="" id="examenesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-file-lines"></i> Examenes
              </a>
              <ul class="dropdown-menu" aria-labelledby="examenesDropdown">
                <li><a class="dropdown-item" href="{% url 'build' %}">Gestión de Mesas de Examen</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'build' %}">Solicitudes a Mesas de Examen</a></li>
              </ul>
            </li>
            <!-- Dropdown de ESTADOS CURRICULARES -->
            <li class="nav-item dropdown">
              <a class="nav-link nav-titulo" href="" id="estadosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-chart-bar"></i> Estados Curriculares
              </a>
              <ul class="dropdown-menu" aria-labelledby="estadosDropdown">
                <li><a class="dropdown-item" href="{% url 'plan_estudio' %}">Gestión de Planes de estudio</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'estados' %}">Gestión de Estados Curriculares</a></li>
              </ul>
            </li>
            <!-- Dropdown de INSCRIPCIONES -->
            <li class="nav-item dropdown">
              <a class="nav-link nav-titulo" href="{% url 'tipo_inscripcion' %}" id="inscripcionesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-address-card"></i> Inscripciones
              </a>
              <ul class="dropdown-menu" aria-labelledby="inscripcionesDropdown">
                <li><a class="dropdown-item" href="{% url 'lista_solicitudes' %}">Solicitudes de Inscripción</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'consultas' %}">Consultas de Datos de Estudiantes</a></li>
              </ul>
            </li>
            <!-- Dropdown de CUOTAS -->
            <li class="nav-item">
              <a class="nav-link nav-titulo" href="{% url 'build' %}"><i class="fa-solid fa-lock"></i> Cuotas</a>
            </li>
          </ul>
          <!-- Menú desplegable para perfil del usuario -->
          <ul class="navbar-nav mb-2 mb-lg-0"> 
            <li class="nav-item dropdown">
                <a class="nav-link nav-titulo" href="#" id="perfilDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user"></i> Perfil
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="perfilDropdown">
                    <li>
                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#perfilModal"><i class="fa-solid fa-gear"></i> Preferencias</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <form method="POST" action="{% url 'logout' %}" style="display: inline;">
                          {% csrf_token %}
                          <button type="submit" class="dropdown-item">
                              <i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión
                          </button>
                      </form> 
                    </li>
                </ul>
            </li>
          </ul>  
        </div>
      </div>
    </nav>
    <!-- Contenido -->
    <div class="flex-grow-1 container mt-5">
        {% block content %}
        {% endblock content %}
    </div>
    <!-- Footer -->
    <footer class="text-white text-center py-3 mt-auto">
      <p class="footer-text">Profesorado CRIOS - Dirección: Tucumán 667, Salta, Argentina | 
        Teléfono: 423-3761
        <br>
        Redes:  
        <a class="red" href="https://www.facebook.com/criosprofesorado/?locale=es_LA" target="_blank">
          <img src="{% static 'icons/fb_icon.png'%}" alt="Facebook" width="1.80%" height="auto">
        </a>
        <a class="red" href="https://www.instagram.com/criosprofesorado/?hl=es" target="_blank">
          <img src="{% static 'icons/insta_icon.png'%}" alt="Instagram" width="1.80%" height="auto">
        </a> |
        Portal educativo: 
        <a class="red" href="https://crios-sal.infd.edu.ar/sitio/" target="_blank">
          <img src="{% static 'icons/escudoargentino_icon.png'%}" alt="Portal" width="1.80%" height="auto">
        </a>
      </p>
    </footer>

    <!-- Modal de Perfil -->
    <div class="modal fade" id="perfilModal" tabindex="-1" aria-labelledby="perfilModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="perfilModalLabel">Perfil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <video width="120" height="120" autoplay loop muted>
                          <source src="{% static 'images/Profile.mp4' %}" type="video/mp4">
                        </video>
                        <h5 class="mt-3">Hola, {{ user.username }}</h5>
                    </div>
                    <p class="mt-4"><strong>Nombre de Usuario:</strong> {{ user.username }}</p>
                    <p><strong>Correo Electrónico:</strong> {{ user.email }}</p>
                    <div class="text-center">
                      <a href="{% url 'change_password' %}" class="btn btn-link" class="center">Cambiar contraseña</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    
    {% block javascript %}
    {% endblock javascript %}
    <script src="{% static 'jQuery-3.7.0/jquery-3.7.0.js' %}"></script>  
    <script src="{% static 'DataTables-1.13.6/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'DataTables-1.13.6/js/dataTables.bootstrap5.js' %}"></script> 
    <script src="{% static 'bootbox/bootbox.all.min.js' %}"></script>
  </body>
</html>