{% extends 'base.html' %}
{% block title %}
Cambiar Contraseña
{% endblock %}
{% load static %}

{% block content %} 
    <h2>Cambiar Contraseña</h2>
    <form action="{% url 'change_password' %}" method="POST">
        {% csrf_token %}
        <label for="new_password1">Nueva Contraseña:</label><br>
        <input type="password" name="new_password1" id="new_password1" required><br><br>
        
        <label for="new_password2">Confirmar Nueva Contraseña:</label><br>
        <input type="password" name="new_password2" id="new_password2" required><br><br>

        <button type="submit">Guardar Cambios</button>
    </form>
{% endblock content %}