{% extends 'base.html' %}
{% block title %} Pagina Principal{% endblock %}
{% load static %} 
{% block content %} 
    <!-- Contenido -->
    <b >
      <br>
      <h1 id="title">Instituto de Formación Docente</h1>
      <h3 id="subtitle">Profesorado de Educación Especial con Orientación en Sordos e Hipoacúsicos </h3>
    </b>
    <div class="container mt-5">
      <div class="row">
        <!-- Columna del carrusel -->
        <div class="col-md-6" id="carrusel">
          <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'images/Carrusel_1.jpg'%}" class="d-block w-100" alt="img-demo1">
              </div>
              <div class="carousel-item">
                <img src="{% static 'images/Carrusel_2.jpg'%}" class="d-block w-100" alt="img-demo2">
              </div>
              <div class="carousel-item">
                <img src="{% static 'images/Carrusel_3.jpg'%}" class="d-block w-100" alt="img-demo3">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
        </div>
    
        <!-- Columna de la misión -->
        <div class="col-md-6" id="mision-text">  
          <i>       
          <h2>
            <br>
            <U>
              Misión:
            </U>
          </h2>
          <p>
            “MEJORAR LA CALIDAD DE VIDA DE LAS PERSONAS CON DISCAPACIDAD AUDITIVA EN LA PROVINCIA DE SALTA A TRAVÉS DE UN SERVICIO INTEGRAL, 
            BASADO EN LOS VALORES INSTITUCIONALES DE LIBERTAD, HONESTIDAD,
            RESPETO, SOLIDARIDAD Y EFICIENCIA”
          </p>
          <br>
          <p>
            "ASPIRAMOS A SER LA ESCUELA LÍDER CON METODOLOGÍA AUDITIVO-ORAL EN EL NORTE DE NUESTRO PAÍS"
          </p>
          </i>   
        </div>
      </div>
    </div>
    <!-- cartas de presentación -->
    <div id="modulo">
      <br>
        <h2>Modulos</h2>
    </div>
    <div class="card w-100 mx-5 mt-5mb-3" style="max-width: 100%;">
      <div class="row g-0">
        <div class="card-body col-md-4 d-flex align-items-center"> <!-- Flexbox en la columna de la imagen -->
            <img src="{% static 'images/formularioIns.png' %}" class="me-3" alt="formulario" width="90%" height="auto"> 
        </div>
        <div class="col-md-8 d-flex align-items-center"> <!-- Flexbox en la columna del texto -->
          <div class="card-body">
            <h5 class="card-title">Inscripciones:</h5>
            <p class="card-text">Permite gestionar solicitudes de inscripción de nuevos candidatos y revisar o actualizar la información de los estudiantes ya registrados.</p>
            <a href="{% url 'tipo_inscripcion' %}" class="btn btn-custom" id="BotonIr">Ir</a>
          </div> 
        </div>
      </div>
    </div> 
    <div class="card w-100 mx-5 mt-5mb-3" style="max-width: 100%;">
      <div class="row g-0">
        <div class="card-body col-md-4 d-flex align-items-center"> <!-- Flexbox en la columna de la imagen -->
            <img src="{% static 'images/formularioIns.png' %}" class="me-3" alt="formulario" width="90%" height="auto"> 
        </div>
        <div class="col-md-8 d-flex align-items-center"> <!-- Flexbox en la columna del texto -->
          <div class="card-body">
            <h5 class="card-title">Estados Curriculares:</h5>
            <p class="card-text">Descripcion...</p>
            <a href="{% url 'build' %}" class="btn btn-custom" id="BotonIr">Ir</a>
          </div> 
        </div>
      </div>
    </div> 
    <div class="card w-100 mx-5 mt-5mb-3" style="max-width: 100%;">
      <div class="row g-0">
        <div class="card-body col-md-4 d-flex align-items-center"> <!-- Flexbox en la columna de la imagen -->
            <img src="{% static 'images/formularioIns.png' %}" class="me-3" alt="formulario" width="90%" height="auto"> 
        </div>
        <div class="col-md-8 d-flex align-items-center"> <!-- Flexbox en la columna del texto -->
          <div class="card-body">
            <h5 class="card-title">Examenes:</h5>
            <p class="card-text">Descripcion...</p>
            <a href="{% url 'build' %}" class="btn btn-custom" id="BotonIr">Ir</a>
          </div> 
        </div>
      </div>
    </div> 
    <div class="card w-100 mx-5 mt-5mb-3" style="max-width: 100%;">
      <div class="row g-0">
        <div class="card-body col-md-4 d-flex align-items-center"> <!-- Flexbox en la columna de la imagen -->
            <img src="{% static 'images/formularioIns.png' %}" class="me-3" alt="formulario" width="90%" height="auto"> 
        </div>
        <div class="col-md-8 d-flex align-items-center"> <!-- Flexbox en la columna del texto -->
          <div class="card-body">
            <h5 class="card-title">Cuotas:</h5>
            <p class="card-text">Descripcion...</p>
            <a href="{% url 'build' %}" class="btn btn-custom" id="BotonIr">Ir</a>
          </div> 
        </div>
      </div>
    </div> 
{% endblock content %}
