<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Testeo de Home</title>
    <link rel="icon" href="{% static 'icons/crios_logo.png' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{% static 'home/style.css' %}" rel="stylesheet">
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="{% static 'icons/crios_logo.png'%}" alt="Logo" width="55" height="48" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style="color: #fff;">Pagina Principal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Examenes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Estados Curriculares</a>
            </li>
            <!-- Dropdown de INSCRIPCIONES -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="inscripcionesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Inscripciones
                </a>
              <ul class="dropdown-menu" aria-labelledby="inscripcionesDropdown">
                <li><a class="dropdown-item" href="#">SOLICITUDES</a></li>
                <li><a class="dropdown-item" href="#">CONSULTAS</a></li>
              </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cuotas</a>
            </li>
          </ul>
          <!-- Botón de Cerrar Sesión -->
          <ul class="navbar-nav mb-2 mb-lg-0">
            <p style="color: #fff; padding-right: 0.5%;">Hola, (Nombre de Usuario)</p>
            <li class="nav-item">
              <a class="nav-link logout-button" href="#" onclick="document.getElementById('logout-form').submit();">Cerrar sesión</a>
              <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
                  {% csrf_token %}
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Contenido -->
    <b>
      <br>
      <h1 id="title">Bienvenido a la Página Principal</h1>
    </b>
    <div class="container mt-5" id="carrusel">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'images/Carrusel_1.jpg'%}" class="d-block w-100" alt="img-demo1">
            <p>Texto 1</p>
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/Carrusel_2.jpg'%}" class="d-block w-100" alt="img-demo2">
            <p>Texto 2</p>
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/Carrusel_3.jpg'%}" class="d-block w-100" alt="img-demo3">
            <p>Texto 3</p>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div><br>
    </div>
    <div>
      <h2>Mision:</h2>
        <p>
          “MEJORAR LA CALIDAD DE VIDA DE LAS PERSONAS CON DISCAPACIDAD AUDITIVA EN LA PROVINCIA DE SALTA A TRAVÉS DE UN SERVICIO INTEGRAL 
          (diagnóstico, equipamiento,rehabilitación, educación e inclusión) BASADO EN LOS VALORES INSTITUCIONALES DE LIBERTAD, HONESTIDAD
          , RESPETO, SOLIDARIDAD Y EFICIENCIA”
        </p>
     </div>
    <!-- Footer -->
    <footer>
      <p class="footer-text">Profesorado CRIOS - Dirección: Tucumán 667, Salta, Argentina | 
        Teléfono: 423-3761
        <br>
        Redes:  <a href="https://www.facebook.com/criosprofesorado/?locale=es_LA" target="_blank">
                    <img src="{% static 'icons/fb_icon.png'%}" alt="Facebook" width="30px" height="auto">
                </a>
                <a href="https://www.instagram.com/criosprofesorado/?hl=es" target="_blank">
                    <img src="{% static 'icons/insta_icon.png'%}" alt="Instagram" width="30px" height="auto">
                </a> |
        Portal educativo: <a href="https://crios-sal.infd.edu.ar/sitio/" target="_blank">
                              <img src="{% static 'icons/escudoargentino_icon.png'%}" alt="Portal" width="20px" height="auto">
                          </a>
      </p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>