#dataTable th:nth-child(1), #dataTable td:nth-child(1) {
    width: 10%;
}
#dataTable th:nth-child(2), #dataTable td:nth-child(2) {
    width: 40%;
}
#dataTable th:nth-child(3), #dataTable td:nth-child(3) {
    width: 10%;
}
#dataTable th:nth-child(4), #dataTable td:nth-child(4) {
    width: 40%;
}