<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contraseña Restablecida</title>
    <link rel="icon" href="{% static 'icons/crios_logo.png' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="{% static 'registration/login-style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="form-container">
      <h2>Contraseña restablecida</h2>
      <p>Tu contraseña ha sido restablecida correctamente. Ahora puedes <a href="{% url 'login' %}">iniciar sesión</a> con tu nueva contraseña.</p>             
    </div>
</body>
</html>
  