<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Profesorado CRIOS - Recuperar Contraseña</title>
    <link rel="icon" href="{% static 'icons/crios_logo.png' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="{% static 'estilos/registration/login-style.css' %}" rel="stylesheet">

    <!-- JavaScript para ocultar el mensaje de error después de 5 segundos -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Selecciona el div que contiene el mensaje de error
            var errorMessage = document.querySelector('.error-message');

            // Si el mensaje de error existe, configura un temporizador para ocultarlo
            if (errorMessage) {
                setTimeout(function() {
                    errorMessage.style.display = 'none';
                }, 3000); // 3000 ms = 3 segundos
            }
        });
    </script>
</head>
<body>
    <div class="form-container">
        <h2>Recuperar Contraseña</h2>
        <p>Por favor ingrese su correo electrónico para recibir el enlace de restablecimiento de contraseña.</p>

        <!-- Mostrar mensajes de error si existen -->
        {% if form.errors %}
            <div class="error-message" style="color: red;">
                {% for field in form %}
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        <form method="post" action="{% url 'password_reset' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>
