<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Correo Enviado</title>
    <link rel="icon" href="{% static 'icons/crios_logo.png' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="{% static 'estilos/registration/login-style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="form-container">
        <h2>Correo enviado</h2>
        <p>Si existe una cuenta asociada con el correo proporcionado, hemos enviado un enlace para restablecer la contraseña.</p>        
    </div>
</body>
</html>
  