/* Footer style */
#title {
  font-size: 3rem;
  font-weight: bold;
}
#subtitle {
    font-size: 1.75rem;
}
#carrusel{
  background-color: #4d82b4;
  border-radius: 5%;
  text-align: center;
  height: 100%;
}
.carousel-item img {
  height: 400px;  /* Ajusta la altura de las imágenes */
  object-fit: contain; /* Esto asegura que la imagen se recorte y ajuste al tamaño del contenedor sin deformarse */
}
#mision-text{
  align-items: center;
  justify-content: left;
  padding-left: 2rem;
  height: 100%;
  text-align: justify;
  line-height: 200%;
  letter-spacing:1%;
}
#mision-text h2{
  text-align: center;
}
#mision-text p{
  font-weight:bold;
}
#carrusel, #mision-text {
  padding: 1.75rem;
}

@media (max-width: 768px) {
#carrusel, #mision-text {
  flex-direction: column;
  width: 100%;
  }
}
#saludo { 
  color: #fff;
  margin-right: 20px;
  display: flex;
  align-items: center;
  
  margin-top: auto;
  margin-bottom: auto;
} 


#modulo {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}


  /* Contenedor de tarjetas */
.card-container {
  display: flex;
  justify-content: center; /* Alineación horizontal */
  gap: 3rem; /* Espacio entre tarjetas */
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten en filas en pantallas pequeñas */

}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  border: 1px solid #ccc;
  padding: 0.3rem;
}
.card img {
  height: 10rem; /* Ajuste de la altura de las imágenes */
  width: 100%;
  object-fit: cover; /* Asegura que la imagen no se deforme */
}
.card-body {
  padding: 1rem; /* Espaciado interno en el cuerpo de la tarjeta */
  flex-grow: 1;
}
.card-title {
  font-size: 1.1rem;
  margin-bottom: 0.9rem;

}
.card-text {
  font-size: 0.9rem; /* Tamaño de texto para mantenerlo dentro de la tarjeta */
  margin-bottom: 15px;
  text-align: justify;
}

.btn-primary {
  width: 100%; /* Botón ocupa todo el ancho de la tarjeta */
  padding: 8px;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: auto;
  background-color: #005187;
}
