.card-size-large {
    width: 100%; /* Esto asegura que el contenedor ocupe todo el ancho disponible */
}

.card {
    width: 20rem; /* Ancho de las tarjetas */
    height: 20rem; /* Alto para hacerlas cuadradas */
    margin: 20px;  /* Separación entre las tarjetas */
    display: flex; /* Flexbox para alinear el contenido */
    flex-direction: column; /* Colocar el contenido en columnas (imagen arriba, texto abajo) */
}

.card-img-top {
    object-fit: cover; /* Las imágenes se ajustarán al tamaño del contenedor */
    height: 12rem; /* Alto de la imagen */
}
.card-size-large {
    width: 70%; /* O cualquier valor que prefieras */
    max-width: 400px; /* Limitar el ancho máximo si es necesario */
}

.card-body {
    flex-grow: 1;  /* Esto asegura que el cuerpo de la tarjeta ocupe el espacio restante */
    display: flex; /* Flexbox para alinear el contenido */
    flex-direction: column; /* Alinear el contenido verticalmente */
    justify-content: center; /* Centrar el contenido dentro de la tarjeta */
    text-align: center; /* Centrar el texto */

}

.btn-custom {
    background-color: #005187; /* Cambia este valor por el color que desees */
    color: rgb(255, 255, 255); /* Color del texto */
    border: none; /* Sin borde */
}

.btn-custom:hover {
    background-color: #c71c4d;
    color: aliceblue;
}

.card-body h5 {
    font-weight: bold;
}