
body {
  background-color: #c4dafa;
  font-family: "Rubik", sans-serif;
  }

#title {
  font-size: 3rem;
  font-weight: bold;
  }

#subtitle {
  font-size: 1.75rem;
  }
#carrusel{
  background-color: #4d82b4;
  text-align: center;
  height: 100%;
  }
.carousel-item img {
  height: 440px;  /* Ajusta la altura de las imágenes */
  object-fit: contain; /* Esto asegura que la imagen se recorte y ajuste al tamaño del contenedor sin deformarse */
  }
#mision-text{
  align-items: center;
  justify-content: left;
  padding-left: 20px;
  height: 100%;
  text-align: justify;
  line-height: 200%;
  letter-spacing:2px;
  }
#mision-text h2{
  text-align: center;
  }
#mision-text p{
  font-weight:bold;
  }
#carrusel, #mision-text {
  padding: 40px;
  }
#BotonIr{
  width: 200px; 
  margin-left:auto;
  display: block;
  background-color: #005187;
  color: rgb(255, 255, 255);
  border: none;
  }
#BotonIr:hover {
  background-color: #c71c4d;
  }

footer {
  background-color: #005187;
  padding: 15px;
  border-top: 2px solid #dee2e6; 
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;}

.footer-text {
  margin: 0;
  color: #fff;
  font-size: 16px;}

.navbar {
  background-color: #005187; 
  border-bottom: 2px solid #dee2e6;}

.navbar-brand {
  font-weight: bold;
  font-size: 20px;}
.navbar-brand:hover,.redes:hover{
  transform: scale(1.3);
  transition: transform 0.3s ease;}

/*PIBES ESTOS SON LOS BOTONES DE NAVEGACION */
.nav-link{ 
  font-size: 17px;
  padding-right: 20px;
  background-color: #c4dafa; 
  color: #000000;
  border-radius: 8px;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 180px;
  text-decoration: none;}
.nav-link:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease; }
.nav-item {
  margin-right: 10px;}
  
.saludo{
  font-size: 18px;
  padding-right: 20px;
  background-color: #ffffff; 
  color: #000000;
  border-radius: 8px;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 180px;
  text-decoration: none;}
.saludo:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease; }

/*BOTON DE CERRAR SESION */
.botonCerrarSesion { 
  background-color: #ff0000; 
  color: #fff;
  font-size: 18px;
  border-radius: 8px;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 180px;
  text-decoration: none;}
.botonCerrarSesion:hover {
  color: #fff;
  transform: scale(1.1);
  transition: transform 0.3s ease; }

.botonCancelar,
.botonEliminar {
  color: #fff;
  background-color: #ff0000;
  border: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 5px;
  transition: background-color 0.5s, color 0.5s;
  border-radius: 18px;}
.botonCancelar:hover,
.botonEliminar:hover{
  color: #fff;
  transform: scale(1.1);
  transition: transform 0.3s ease;}

.botonSubirArchivo,
.botonBuscar,
.botonAgregarSolicitud,
.botonGuardar,
.botonGuardarSolicitud
{color: #fff;
background-color: #005187;
border: none;
padding: 10px 16px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
margin: 5px;
transition: background-color 0.5s, color 0.5s;
border-radius: 18px;}

.botonSubirArchivo:hover,
.botonAgregarSolicitud:hover,
.botonGuardar:hover,
.botonGuardarSolicitud:hover
{transform: scale(1.1); 
transition: transform 0.3s ease;}

.botonModificar{
color: rgb(0, 0, 0);
background-color: #ffff00;
border: none;
padding: 10px 16px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
margin: 5px;
transition: background-color 0.5s, color 0.5s;
border-radius: 18px;}
.botonModificar:hover{
color: #000000;
transform: scale(1.1);
transition: transform 0.3s ease; }


.botonDescargar{
  color: #fff;
  background-color: #28a745;
  border: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 5px;
  transition: background-color 0.5s, color 0.5s;
  border-radius: 18px;}

.botonDescargar:hover
  {transform: scale(1.1); 
  transition: transform 0.3s ease;}

.form-control{
  border: 1px solid #005187;} 
.custom-column-spacing {
  margin-right: 30px; }  

.modal-custom {
  max-width: 80%;
}


@media
 (max-width: 768px) {
      #carrusel, #mision-text {
        flex-direction: column;
        width: 100%;
        }
      }
      #saludo { 
        color: #fff;
        margin-right: 20px;
        display: flex;
        align-items: center;
        
        margin-top: auto;
        margin-bottom: auto;
    } 


  
  #modulo {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
  }