{% extends 'base.html' %}
{% block title %} 
Modificar Nota 
{% endblock %}
{% load static %}
{% block head %} 
    <link href="{% static 'estilos/inscripciones/botones.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mt-4">Modificar Nota de la asignatura {{ estado_curricular.id_matxplan_estcur.id_materia.nombre }}</h2>
    <hr>
    <!-- Información del estudiante -->
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="legajo" class="form-label">Legajo N</label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-card-list"></i></span>
                <input type="text" id="legajo" class="form-control" value="{{ estudiante.nro_legajo }}" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <label for="dni" class="form-label">DNI</label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-file-earmark-person"></i></span>
                <input type="text" id="dni" class="form-control" value="{{ estudiante.id_datinsc.dni }}" readonly>
            </div>
        </div>
    </div> 

    <div class="row mb-3">
        <div class="col-md-6">
            <label for="apellidos" class="form-label">Apellidos</label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                <input type="text" id="apellidos" class="form-control" value="{{ estudiante.id_datinsc.apellido }}" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <label for="nombres" class="form-label">Nombres</label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
                <input type="text" id="nombres" class="form-control" value="{{ estudiante.id_datinsc.nombre }}" readonly>
            </div>
        </div>
    </div>

    <!-- Formulario para modificar la nota y otros campos -->
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nota" class="form-label">Nueva Nota:</label>
            <input type="number" name="nota" id="nota" class="form-control" value="{{ estado_curricular.nota }}" required>
        </div>

        <!-- Campo para modificar el estado -->
        <div class="mb-3">
            <label for="estado" class="form-label">Estado:</label>
            <select name="estado" id="estado" class="form-control">
                <option value="Aprobado" {% if estado_curricular.condicion_nota == 'Aprobado' %}selected{% endif %}>Aprobado</option>
                <option value="Reprobado" {% if estado_curricular.condicion_nota == 'Reprobado' %}selected{% endif %}>Reprobado</option>
                <option value="Condicional" {% if estado_curricular.condicion_nota == 'Condicional' %}selected{% endif %}>Condicional</option>
            </select>
        </div>

        <!-- Campo para modificar la fecha -->
        <div class="mb-3">
            <label for="fecha" class="form-label">Fecha Finalización:</label>
            <input type="date" name="fecha" id="fecha" class="form-control" value="{{ estado_curricular.fecha_finalizacion }}" required>
        </div>

        <!-- Campo para modificar el folio -->
        <div class="mb-3">
            <label for="folio" class="form-label">Folio:</label>
            <input type="text" name="folio" id="folio" class="form-control" value="{{ estado_curricular.folio }}">
        </div>

        <a href="{% url 'verEstado' estudiante.id_datinsc.dni %}" class="botonVolver"><i class="fa-solid fa-arrow-left"></i>Volver</a>
        <button type="submit" class="botonVer"><i class="fa-solid fa-check"></i>Actualizar Nota</button>
    </form>

</div>
{% endblock %}



