body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://media.licdn.com/dms/image/v2/D4D12AQHcxSGLpJJlJA/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1674147783925?e=1729728000&v=beta&t=tHhtc1VC581DCsH3ffWtYssmcTeHI6SClbscEke2cAk') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}
.form-container {
    background-color: #f6f6f6;
    width: 500px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    text-align: center;
    position: relative;
}
label {
    display: block;
    margin-bottom: 8px;
    font-size: 22px;
    color: #333;
}
input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}
.forgot-password {
    font-size: 20px;
    color: #333;
    text-decoration: none;
}
button {
    background-color: #001f3f;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
}
.register-button {
    background-color: #007bff;
    margin-top: 10px;
}