{% extends 'base.html' %}
{% load static %} 
{% block content %} 
    <div class="container mt-4">
        <form method="GET" action="{% url 'consultas' %}" class="mb-4">
            <div class="input-group">
                <input type="text" name="dni" class="form-control" 
                placeholder="Ingrese el DNI del estudiante" required>
                <button class="botonBuscar" type="submit">Buscar</button>
            </div>
        </form>

        <div class="table-container">
            <h1 class="mb-4 text-center">Estudiantes</h1>
            <hr>


            {% if estudiante %}
            <table class="table table-striped table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th style="color: white;background-color:#005187;">ID</th>
                        <th style="color: white;background-color:#005187;">DNI</th>
                        <th style="color: white;background-color:#005187;">Nombre</th>
                        <th style="color: white;background-color:#005187;">Apellido</th>
                        <th style="color: white;background-color:#005187;">Teléfono</th>
                        <th style="color: white;background-color:#005187;">Email</th>
                        <th style="color: white;background-color:#005187;">Domicilio</th>
                        <th style="color: white;background-color:#005187;">Legajo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ estudiante.id_datinsc }}</td>
                        <td>{{ estudiante.dni }}</td>
                        <td>{{ estudiante.nombre }}</td>
                        <td>{{ estudiante.apellido }}</td>
                        <td>{{ estudiante.celular_nro }}</td>
                        <td>{{ estudiante.email }}</td>
                        <td>{{ estudiante.domicilio }}</td>
                        <td>{{ estudiante.legajo_digital }}</td>
                    </tr>
                </tbody>     
            </table>

            <div class="action-buttons">
                <a href="{% url 'modificar' estudiante.id_datinsc %}" class="botonModificar">Modificar</a>
                <a href="#" class="botonEliminar" data-id="{{ estudiante.id_datinsc }}">Eliminar</a>


            </div>
            
            <div class="container mt-4">
                <form action="{% url 'adjuntar_archivo' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="fileUpload" class="form-label">Adjuntar Legajo</label>
                        <input type="file" class="form-control" id="fileUpload" name="fileUpload">
                    </div>
                    <button type="submit" class="botonSubirArchivo">Subir archivo</button>
                    <a href="{% url 'consultas' %}" class="botonGuardar">Volver</a>
                </form>
            </div>

            
            {% elif estudiantes %}
            <table class="table table-striped table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th style="color: white;background-color:#005187;">ID</th>
                        <th style="color: white;background-color:#005187;">DNI</th>
                        <th style="color: white;background-color:#005187;">Nombre</th>
                        <th style="color: white;background-color:#005187;">Apellido</th>
                        <th style="color: white;background-color:#005187;">Teléfono</th>
                        <th style="color: white;background-color:#005187;">Email</th>
                        <th style="color: white;background-color:#005187;">Domicilio</th>
                        <th style="color: white;background-color:#005187;">Legajo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for estudiante in estudiantes %}
                    <tr>
                        <td>{{ estudiante.id_datinsc }}</td>
                        <td>{{ estudiante.dni }}</td>
                        <td>{{ estudiante.nombre }}</td>
                        <td>{{ estudiante.apellido }}</td>
                        <td>{{ estudiante.celular_nro }}</td>
                        <td>{{ estudiante.email }}</td>
                        <td>{{ estudiante.domicilio }}</td>
                        <td>{{ estudiante.legajo_digital }}</td>
                    </tr>
                    {% endfor %}
                </tbody>     
            </table>

           
            {% else %}
                <p>No se encontró ningún estudiante con ese DNI.</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
{% block javascript %}
    <script>
        document.querySelectorAll('.botonEliminar').forEach(button => {
    button.addEventListener('click', function(e) {
        e.preventDefault();

        const estudianteId = this.getAttribute('data-id');

        if (confirm('¿Estás seguro de que deseas eliminar este estudiante?')) {
            fetch("{% url 'eliminar_estudiante_ajax' %}", {
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: new URLSearchParams({
                    'id': estudianteId,
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert(data.message);  
                
                    
                    setTimeout(() => {
                        window.location.href = "{% url 'consultas' %}";
                    }, 500); // 
                } else {
                    alert("No se pudo eliminar el estudiante.");
                }
            })
            .catch(error => console.error('Error:', error));
        }
    });
});

    </script>
{% endblock javascript %}
