{% extends 'base.html' %}
{% block title %}
Modificar Datos - {{ estudiante.id_datinsc.nombre }} {{ estudiante.id_datinsc.apellido }}
{% endblock %}
{% load static %}
{% block head %}
    <link href="{% static 'inscripciones/consultas/modificar_datos.css' %}" rel="stylesheet">
    <link href="{% static 'inscripciones/botones.css' %}" rel="stylesheet">
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Modificar datos de {{ estudiante.id_datinsc.nombre }} {{ estudiante.id_datinsc.apellido }}</h1>
    <hr>

    <form method="post" action="{% url 'modificar_datos' estudiante.id_estudiante %}">
        {% csrf_token %}
        
        <!-- Datos Estudiantiles -->
        <div class="card mb-4">
            <div class="card-header bg-primary text-white">
                <h4>Datos Estudiantiles</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="nro_legajo" class="form-label">Número de Legajo:</label>
                            <input type="text" class="form-control" id="nro_legajo" name="nro_legajo" value="{{ estudiante.nro_legajo }}">
                        </div>

                        <div class="mb-3">
                            <label for="anio_insc" class="form-label">Año de Inscripción:</label>
                            <select class="form-select" id="anio_insc" name="anio_insc">
                                <option value="1" {% if estudiante.anio_insc == 1 %}selected{% endif %}>1er Año</option>
                                <option value="2" {% if estudiante.anio_insc == 2 %}selected{% endif %}>2do Año</option>
                                <option value="3" {% if estudiante.anio_insc == 3 %}selected{% endif %}>3er Año</option>
                                <option value="4" {% if estudiante.anio_insc == 4 %}selected{% endif %}>4to Año</option>
                                <option value="5" {% if estudiante.anio_insc == 5 %}selected{% endif %}>5to Año</option>
                            </select>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" id="matricula" name="matricula" value="True" {% if estudiante.id_datinsc.matricula %}checked{% endif %}>
                            <label class="form-check-label" for="matricula">
                                ¿Ya se ha realizado el pago de matrícula? (Marcar para un "Si" o sino dejar vacio para un "No")
                            </label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" id="legajo_fisico" name="legajo_fisico" value="True" {% if estudiante.id_datinsc.legajo_fisico %}checked{% endif %}>
                            <label class="form-check-label" for="legajo_fisico">
                                ¿Posee un legajo físico? (Marcar para un "Si" o sino dejar vacio para un "No")
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Datos Personales -->
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4>Datos Personales</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <!-- Columna 1 -->
                    <div class="col-md-6">
                        {{ form.nombre|as_crispy_field }}
                        {{ form.apellido|as_crispy_field }}
                        <div class="espaciado">
                            <label for="fecha_nac" class="form-label">Fecha de Nacimiento:*</label>
                            <input type="date" class="form-control" id="fecha_nac" name="fecha_nac" value="{{ form.fecha_nac.value|date:'Y-m-d' }}">
                        </div>
                        {{ form.provincia|as_crispy_field }}
                        {{ form.dni|as_crispy_field }}
                        {{ form.edad|as_crispy_field }}
                        {{ form.domicilio|as_crispy_field }}
                        {{ form.telefono_fijo|as_crispy_field }}
                        {{ form.celular_nro|as_crispy_field }}
                        {{ form.email|as_crispy_field }}
                        {{ form.estado_civil|as_crispy_field }}
                        <a href="#" class="text-primary" style="text-decoration: underline;" onclick="borrarSeleccion('estado_civil')">Borrar selección</a>
                    </div>
                    <!-- Columna 2 -->
                    <div class="col-md-6">
                        <div class="espaciado">
                            {{ form.hijos|as_crispy_field }}
                            <a href="#" class="text-primary" style="text-decoration: underline;" onclick="borrarSeleccion('hijos')">Borrar selección</a>
                        </div>
                        {{ form.lugar_trabajo|as_crispy_field }}
                        {{ form.tel_emergencia|as_crispy_field }}
                        {{ form.col_egreso|as_crispy_field }}
                        {{ form.titulo|as_crispy_field }}
                        {{ form.otro_titulo|as_crispy_field }}
                        {{ form.anio_egreso|as_crispy_field }}
                        <div class="espaciado">
                            {{ form.preg_1|as_crispy_field }}
                            <a href="#" class="text-primary" style="text-decoration: underline;" onclick="borrarSeleccion('preg_1')">Borrar selección</a>
                        </div>
                        {{ form.resp_1|as_crispy_field }}
                        <div class="espaciado">
                            {{ form.resp_2|as_crispy_field }}
                            <a href="#" class="text-primary" style="text-decoration: underline;" onclick="borrarSeleccion('resp_2')">Borrar selección</a>
                        </div>
                        {{ form.preg_2|as_crispy_field }}
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <a href="{% url 'ver_datos' estudiante.id_estudiante %}" class="botonVolver"><i class="fa-solid fa-arrow-left"></i> Volver</a>
            <button type="submit" class="botonVer"><i class="fa-solid fa-floppy-disk"></i> Guardar Cambios</button>
            
        </div>
        <br>
    </form>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    function borrarSeleccion(nameGrupoRadio) {
        // Obtiene todos los elementos del grupo de radio por el atributo 'name'
        var radios = document.getElementsByName(nameGrupoRadio);
        radios.forEach(function(radio) {
            radio.checked = false;  // Desmarca todas las opciones del grupo
        });
    }
</script>
{% endblock javascript %}