<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Profesorado CRIOS - Iniciar Sesion</title>
    <link rel="icon" href="{% static 'icons/crios_logo.png' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="{% static 'registration/login-style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="form-container">
        <img id='logo'src="{% static 'icons/crios_logo.png' %}" alt="Logo CRIOS">
        <h2 id='login'>Inicio de Sesión</h2>

        <!-- Mostrar mensajes si existen -->
        {% if form.errors %}
            <div class="error-message">
                Usuario o contraseña incorrectos, inténtelo nuevamente.
            </div>
        {% endif %}

        <!-- Formulario de inicio de sesión -->
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="username">Nombre de usuario:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
            <a href="{% url 'password_reset' %}">
                ¿Olvido su contraseña?
            </a>
            <br>
            <br>
            <button type="submit">Acceder</button>
        </form>
        <br>
    </div>
</body>
</html>
