<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesion</title>
    <link rel="icon" href="{% static 'icons/crios_logo.png' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="{% static 'registration/login-style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="form-container">
        <img id='logo' src="{% static 'icons/crios_logo.png' %}" alt="Logo CRIOS">
        <h2 id='login'>Inicio de Sesión</h2>

        <!-- Mostrar mensajes si existen -->
        {% if form.errors %}
            <div class="error-message" id="error-message">
                Usuario o contraseña incorrectos, inténtelo nuevamente.
            </div>
        {% endif %}

        <!-- Formulario de inicio de sesión -->
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="username">Nombre de usuario:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
            <div >
                <a class="olvidoPw" href="{% url 'password_reset' %}">
                    ¿Olvidó su contraseña?
                </a>
                <br><br>
                <button  class="botonLogin" type="submit">Acceder</button>
            </div>
        </form>
        <br>
    </div>

    <script>
        // Hacer que el mensaje de error desaparezca después de 3 segundos
        setTimeout(function() {
            var errorMessage = document.getElementById('error-message');
            if (errorMessage) {
                errorMessage.style.opacity = '0';  // Desvanecer el mensaje
            }
        }, 3000);  // 3000 milisegundos = 3 segundos
    </script>
</body>
</html>
