{% extends 'base.html' %}
{% load static %} 

{% block content %} 

  <div class="d-flex justify-content-center">
    <div class="card card-size-large mx-2"> 
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Solicitudes</h5>
        <p class="card-text">Permite gestionar inscripciones de candidatos mediante un formulario integrado en la plataforma. Una vez completada la solicitud, esta se registra automáticamente 
          en la tabla de solicitudes para su seguimiento y gestión.</p>
        <a href="{% url 'lista_solicitudes' %}" class="btn btn-custom">Ir</a>
      </div>
    </div>

    <div class="card card-size-large mx-2">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Consultas</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'consultas' %}" class="btn btn-custom">Ir</a>
      </div>
    </div>    
  </div>

{% endblock content %}
