{% extends 'base.html' %}
{% block title %}
Inscripciones
{% endblock %}
{% load static %}
{% block head %} 
  <link href="{% static 'estados/inscripciones/style-tipoInscripcion.css' %}" rel="stylesheet">
{% endblock %} 

{% block content %} 
  <h2 class="mb-4 text-center">INSCRIPCIONES - FUNCIONALIDADES</h2>
  <div class="d-flex justify-content-center" style="background-color: #4d82b4">
    <div class="card card-size-large mx-2"> 
      <img src="{% static 'images/tipo_inscripcion/Solicitudes.JPG' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Solicitudes</h5>
        <p class="card-text">Permite gestionar inscripciones de candidatos mediante un formulario integrado en la plataforma. Una vez completada la solicitud, esta se registra automáticamente 
          en la tabla de solicitudes para su seguimiento y gestión.</p>
        <a href="{% url 'lista_solicitudes' %}" class="btn btn-custom">Ir</a>
      </div>
    </div>

    <div class="card card-size-large mx-2">
      <img src="{% static 'images/tipo_inscripcion/Consultas.JPG' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Consultas</h5>
        <p class="card-text">Proporciona una tabla con el listado completo de los estudiantes inscritos en el profesorado. Además, permite adjuntar un legajo digital, modificar la información 
          del estudiante y eliminar su registro en caso de abandono de la carrera.</p>
        <a href="{% url 'consultas' %}" class="btn btn-custom">Ir</a>
      </div>
    </div>    
  </div>
{% endblock content %}
