{% extends 'base.html' %}
{% load static %}

{% block head %} 
    {% csrf_token %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link href="{% static 'inscripciones/botones.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">GESTIÓN DE MESAS DE EXAMEN</h2><br>
    <hr>

    {% if messages %}
        <div class="alert-container">
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="d-flex justify-content-start">
        <!-- Botón que abre el modal para añadir una solicitud -->
        <button type="button" class="botonAgregarExamen"" data-bs-toggle="modal" data-bs-target="#agregarExamenModal">
            <i class="fa-solid fa-plus"></i> Añadir Mesa Examen
        </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="agregarExamenModal" tabindex="-1" aria-labelledby="agregarExamenModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarExamenModalLabel">Añadir Mesa de Examen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form id="formAgregarMesa">
                    <div class="mb-3">
                        <label for="materia" class="form-label">Seleccionar Materia</label>
                        <select class="form-control" id="materia" name="materia" required>
                            <!-- Opciones dinámicas generadas en JS -->
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="fecha_examen" class="form-label">Fecha del Examen</label>
                        <input type="date" class="form-control" id="fecha_examen" name="fecha_examen" required>
                    </div>
                    <div class="mb-3">
                        <label for="hora_examen" class="form-label">Hora del Examen</label>
                        <input type="time" class="form-control" id="hora_examen" name="hora_examen" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="guardarMesaExamen" color>Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="table-responsive">
            <table id="TablaExamenes" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="color: white;background-color:#005187;">#</th>
                        <th style="color: white;background-color:#005187;">Materia</th>
                        <th style="color: white;background-color:#005187;">Fecha Examen</th>
                        <th style="color: white;background-color:#005187;">Hora Examen</th>
                        <th style="color: white;background-color:#005187;" class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody id="tableBody_programmers">
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
    const getCSRFToken = () => {
    return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
};
</script>
<script>
$(document).ready(function() {
    // Inicializa la tabla con datos de la API
    $('#TablaExamenes').DataTable({
        "ajax": {
            "url": "/examenes/obtener_examenes/",
            "dataSrc": "data",  // Especifica que los datos vienen bajo la clave "data"
            "type": "GET"
        },
        "columns": [
            { 
                "data": null,
                "render": function (data, type, row, meta) {
                    return meta.row + 1;
                }
            },
            { "data": "materia" },
            { 
                "data": "fecha_examen", 
                "render": function(data, type, row) {
                    if (type === 'display' && data) {
                        // Crear un objeto de fecha a partir del valor en formato ISO (YYYY-MM-DD)
                        const date = new Date(data);  
                        const [year, month, day] = data.split('-');
                        const months = [
                            'Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'
                        ];
                        const monthName = months[parseInt(month) - 1];    
                        return `${day} ${monthName} de ${year}`;

                    }
                    return data;  // Si no es de tipo 'display', devolver el dato sin cambios
                }
            },
            { 
                "data": "hora_examen",
                "render": function (data, type, row) {
                    if (type === 'display' && data) {
                        var time = data.slice(0, 5);  // Obtén solo la parte de la hora y minutos
                        return time;  // Retorna la hora en formato 24 horas
                    }
                    return data;
                }  
            },
            { 
                "data": null,
                "render": function (data, type, row) {
                    return `
                        <div class="d-flex justify-content-center">
                            <button class="botonDescargar btn-sm ver_inscriptos mx-3" data-id="${row.Id_MesaExamen}"><i class="fa-solid fa-users"></i> Inscriptos</button>
                            <button class="botonModificar btn-sm editarExamen mx-3" data-id="${row.Id_MesaExamen}"><i class="fa-solid fa-pen"></i> Editar</button>
                            <button class="botonEliminar btn-sm eliminarExamen mx-3" data-id="${row.Id_MesaExamen}"><i class="fa-solid fa-trash"></i> Eliminar</button>
                        </div>
                    `;
                }
            }
        ]
    });

    // Agregar una nueva mesa de examen
    $('#guardarMesaExamen').click(function() {
        const formData = {
            materia: $('#materia').val(),
            fecha_examen: $('#fecha_examen').val(),
            hora_examen: $('#hora_examen').val(),
        };

        // Validación simple
        if (!formData.materia || !formData.fecha_examen || !formData.hora_examen) {
            alert('Por favor, complete todos los campos.');
            return;
        }

        // Deshabilitar el botón mientras la solicitud esté en proceso
        $('#guardarMesaExamen').prop('disabled', true);

        $.ajax({
            url: '/examenes/agregar_examen/',
            type: 'POST',
            data: JSON.stringify(formData),
            contentType: 'application/json',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
            success: function(response) {
                if(response.success){
                    $('#agregarExamenModal').modal('hide'); // Cierra el modal
                    $('#TablaExamenes').DataTable().ajax.reload(); // Recarga la tabla
                    $('#formAgregarMesa')[0].reset();  // Limpiar el formulario
                }else{
                    alert(response.message);
                }
                $('#guardarMesaExamen').prop('disabled', false);
            },
            error: function(error) {
                alert('Ocurrió un error al añadir la mesa de examen.');
                $('#guardarMesaExamen').prop('disabled', false);
            }
        });
    });

    // Cargar las materias al mostrar el modal
    $('#agregarExamenModal').on('show.bs.modal', function () {
        $.ajax({
            url: '/examenes/obtener_materias/',
            type: 'GET',
            success: function (response) {
                const selectMateria = $('#materia');
                selectMateria.empty(); // Limpia el dropdown

                response.materias.forEach(materia => {
                    selectMateria.append(
                        `<option value="${materia.id}">${materia.nombre}</option>`
                    );
                });
            },
            error: function () {
                alert('Error al cargar las materias.');
            }
        });
    });

    // Redirigir a la página de eliminar
    $(document).on('click', '.eliminarExamen', function () {
        const idExamen = $(this).data('id');
        if (idExamen) {
            window.location.href = `/examenes/eliminar_mesaExamen/${idExamen}/`;
        } else {
            alert('No se pudo identificar la mesa de examen.');
        }
    });

    $(document).on('click', '.editarExamen', function () {
        const idExamen = $(this).data('id');
        if (idExamen) {
            window.location.href = `/examenes/editar_mesaExamen/${idExamen}/`;
        } else {
            alert('No se pudo identificar la mesa de examen.');
        }
    });

    $(document).on('click', '.ver_inscriptos', function () {
        const idExamen = $(this).data('id');
        if (idExamen) {
            window.location.href = `/examenes/ver_inscriptos/${idExamen}/`;
        } else {
            alert('No se pudo identificar los Alumnos Inscriptos.');
        }
    });
    setTimeout(() => {
            const msg = document.getElementById('successMessage');
            if (msg) {
                msg.style.display = 'none';
            }
        }, 30); // 3 segundos

});
</script>
{% endblock javascript %}





