{% extends 'base.html' %}
{% load static %} 
{% block content %} 
    <div class="container mt-5">
        <h2>Solicitudes de Inscripción</h2>
        <!-- Botón para añadir una solicitud -->
        <div class="d-flex justify-content-end mb-3">
            <a href="{% url 'agregar_solicitud' %}" class="btn btn-primary">Añadir una solicitud</a>
        </div>

        <!-- Tabla de solicitudes -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for solicitud in solicitudes %}
                <tr>
                    <td>{{ solicitud.nombres }}</td>
                    <td>{{ solicitud.apellido }}</td>
                    <td>{{ solicitud.dni }}</td>
                    <td>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">No hay solicitudes disponibles</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
