{% extends 'base.html' %}
{% block title %}
Planes de Estudio - Materias
{% endblock %}
{% load static %}
{% block head %} 
    <!--<link href="{% static 'planesEstudios/planestudio.css' %}" rel="stylesheet">-->
    <link href="{% static 'estilos/inscripciones/botones.css' %}" rel="stylesheet">
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <!-- Botón Volver alineado a la izquierda -->
        <a href="{% url 'plan_estudio' %}" class="botonVolver"><i class="fa-solid fa-arrow-left"></i> Volver a Planes de Estudio</a>
        <!-- Botones Agregar alineado a la derecha -->
        <div>
            <button type="button" class="botonAgregarSolicitud" data-bs-toggle="modal" data-bs-target="#agregarMateriaModal">
                <i class="fa-solid fa-plus"></i>
                Agregar una nueva Materia
            </button>
        </div>
    </div>
    <h2 style="text-align: center;">LISTA DE MATERIAS</h2>
    <hr>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} fade-out">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    <div class="table-responsive">
        <table id="dataTable" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th style="color: white;background-color:#005187;">Nombre</th>
                    <th style="color: white;background-color:#005187;">Tipo de Unidad</th>                     
                    <th style="color: white;background-color:#005187;">Cursado</th>
                    <th style="color: white;background-color:#005187;">Es Correlativa</th>
                    <th class="text-center" style="color: white;background-color:#005187;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for materia in materias %}
                <tr>
                    <td>{{ materia.nombre }}</td>
                    <td>{{ materia.id_unidad.tipo }}</td>    
                    <td>
                    {% if materia.cuatrimestral_anual == 0 %}
                        Cuatrimestral
                    {% elif materia.cuatrimestral_anual == 1 %}
                        Anual
                    {% endif %}
                    </td>
                    <td>
                    {% if materia.correlatividad == 0 %}
                        No
                    {% elif materia.correlatividad == 1 %}
                        Si
                    {% endif %}
                    </td>
                    <td class="text-center">
                        <button class="botonModificar" 
                            data-id_materia="{{ materia.id_materia }}" 
                            data-nombre="{{ materia.nombre }}" 
                            data-id_unidad="{{ materia.id_unidad.id_unidad }}" 
                            data-cuatrimestral_anual="{{ materia.cuatrimestral_anual }}" 
                            data-id_campoestudio="{{ materia.id_campoestudio.id_campoestudio}}"
                            data-correlatividad="{{ materia.correlatividad }}">
                            <i class="fa-solid fa-edit"></i> Editar
                        </button>               
                        <button 
                            class="botonEliminar" 
                            data-id_materia="{{ materia.id_materia }}">
                            <i class="fa-solid fa-trash"></i> Eliminar
                        </button>
                    </td>            
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" style="text-align: center;">Aun no hay materias agregadas.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="agregarMateriaModal" tabindex="-1" aria-labelledby="agregarMateriaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="addMateriaForm" action="{% url 'agregar_materia' %}" method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="addMateriaModalLabel">Agregar Nueva Materia</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Nombre de la Materia -->
                    <div class="mb-3">
                        <label for="nombreMateria" class="form-label">Nombre de la Materia</label>
                        <input type="text" class="form-control" id="nombreMateria" name="nombre" required>
                    </div>

                    <!-- Tipo de Unidad -->
                    <div class="mb-3">
                        <label for="tipoUnidad" class="form-label">Tipo de Unidad</label>
                        <select class="form-select" id="tipoUnidad" name="id_unidad" required>
                            <option selected disabled>Selecciona un tipo de unidad</option>
                            {% for unidad in tipos_unidades %}
                            <option value="{{ unidad.id_unidad }}">{{ unidad.tipo }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Tipo de Cursado -->
                    <div class="mb-3">
                        <label for="tipoCursado" class="form-label">Tipo de Cursado</label>
                        <select class="form-select" id="tipoCursado" name="cuatrimestral_anual" required>
                            <option selected disabled>Selecciona el tipo de cursado</option>
                            <option value="0">Cuatrimestral</option>
                            <option value="1">Anual</option>
                        </select>
                    </div>

                    <!-- Campo de Estudio -->
                    <div class="mb-3">
                        <label for="tipoCampo" class="form-label">Campo de Estudio:</label>
                        <select class="form-select" id="tipoCampo" name="id_campoestudio">
                            <option value="">Seleccione un campo de estudio</option>
                            {% for campo in campos_estudio %}
                                <option value="{{ campo.id_campoestudio }}">{{ campo.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Correlatividad -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="correlatividad" name="correlatividad" value="1">
                        <label class="form-check-label" for="correlatividad">
                            ¿Tiene correlatividad con alguna o varias materias? <br>
                            (Dejar marcado para un "SI" o vació para un "NO")
                        </label>
                        <!-- Campo oculto para enviar un valor por defecto cuando no se marca -->
                        <input type="hidden" name="correlatividad_hidden" value="0">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="botonVolver" data-bs-dismiss="modal"><i class="fa-solid fa-arrow-left"></i> Volver</button>
                    <button type="submit" class="botonVer"><i class="fa-solid fa-check"></i>Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modalEditarMateria" tabindex="-1" role="dialog" aria-labelledby="modalEditarMateriaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="formEditarMateria" method="POST" action="{% url 'editar_materia' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditarMateriaLabel">Editar Materia</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Campo oculto para el ID de la materia -->
                    <input type="hidden" id="materiaId" name="id_materia">

                    <div class="mb-3">
                        <label for="editarNombre" class="form-label">Nombre de la Materia:</label>
                        <input type="text" class="form-control" id="editarNombre" name="nombre" required>
                    </div>

                    <div class="mb-3">
                        <label for="editarTipoUnidad" class="form-label">Tipo de Unidad:</label>
                        <select class="form-select" id="editarTipoUnidad" name="id_unidad" required>
                            {% for unidad in tipos_unidades %}
                                <option value="{{ unidad.id_unidad }}">{{ unidad.tipo }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="editarTipoCursado" class="form-label">Tipo de Cursado:</label>
                        <select class="form-select" id="editarTipoCursado" name="cuatrimestral_anual" required>
                            <option value="0">Cuatrimestral</option>
                            <option value="1">Anual</option>
                        </select>
                    </div>

                    <!-- Campo de Estudio -->
                    <div class="mb-3">
                        <label for="editarTipoCampo" class="form-label">Campo de Estudio:</label>
                        <select class="form-select" id="editarTipoCampo" name="id_campoestudio" required>
                            {% for campo in campos_estudio %}
                                <option value="{{ campo.id_campoestudio }}">{{ campo.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="editarCorrelatividad" name="correlatividad" value="1">
                        <label class="form-check-label" for="editarCorrelatividad">
                            ¿Tiene correlatividad con alguna o varias materias?
                        </label>
                        <input type="hidden" name="correlatividad_hidden" value="0">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="botonVolver" data-bs-dismiss="modal"><i class="fa-solid fa-arrow-left"></i> Volver</button>
                    <button type="submit" class="botonVer"><i class="fa-solid fa-check"></i>Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable({
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "No hay datos disponibles en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sSearch": "Buscar:",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        }); 

        $('#dataTable tbody').on('click', '.botonEliminar', function (e) {
            e.preventDefault();
            var id_materia = $(this).data('id_materia');
            bootbox.confirm({
                message: "¿Está seguro de que desea eliminar esta materia?",
                buttons: {
                    confirm: {
                        label: 'Sí,eliminar materia.',
                        className: 'botonDarDeBaja'
                    },
                    cancel: {
                        label: 'No.cancelar,',
                        className: 'botonCancelarBaja'
                    }
                },
                callback: function (result) {
                    if (result) {
                        window.location.href = 'materias/eliminar_materia/' + id_materia + '/';
                    }
                }
            });
        });

        $('#dataTable tbody').on('click', '.botonModificar', function () {
            
            // Obtener los datos del botón seleccionado
            var id_materia = $(this).data('id_materia');
            var nombre = $(this).data('nombre');
            var id_unidad = $(this).data('id_unidad');
            var cuatrimestral_anual = $(this).data('cuatrimestral_anual');
            var id_campoestudio = $(this).data('id_campoestudio');
            var correlatividad = $(this).data('correlatividad');

            // Cargar los datos en el modal
            $('#materiaId').val(id_materia);
            $('#editarNombre').val(nombre);
            $('#editarTipoUnidad').val(id_unidad).change();
            $('#editarTipoCursado').val(cuatrimestral_anual === "False" ? "0" : "1").change();
            $('#editarTipoCampo').val(id_campoestudio).change();
            $('#editarCorrelatividad').prop('checked', correlatividad === "True");

            // Mostrar el modal de edición
            console.log($(this).data());
            $('#modalEditarMateria').modal('show');
        });

        setTimeout(function () {
            $('.alert').fadeOut('slow');
        }, 3000);
    });
</script>
{% endblock javascript %}